{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset= "UTF-8"/>
    <title>Math@Cpt</title>
    
    <!-- Importes do menu com abas -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/estiloMenuAbas.css'%} " />

    <script type="text/javascript" src="{% static 'js/javascriptMenuAbas.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/javascriptMenuAbas.js' %}"></script>

    <script src="{% static 'js/jquery.min.js' %}"></script> <!--ESSE ARQUIVO TEM QUE SER LOCAL!!! -->
  	<script src="{% static 'js/jquery2.min.js' %}"></script><!--ESSE ARQUIVO TEM QUE SER LOCAL!!! oq eles fazem -->
    
    
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/funcoesDominio.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/funcoesEixoX.js' %}"></script>
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"><!--Importando o Boot-->
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/fotos.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/CollPersonalizadas.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}"/>

</head>


<body>


	<div class="container-fluid">	


		<nav class="navbar navbar-default navbar-fixed-top" id="idnav"> <!--cabeçalho-->
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href = "#">Math@Cpt</a>
				</div>

			<div id="navbar-main" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#">Homes</a>
					</li>
			
					<li>
						<a href="#">Projeto</a>
					</li>

					<li>
						<a href="#">Contato</a>
					</li>

				</ul>

			</div><!-- navbar-main -->
        </div><!-- container -->
		
		</nav> <!-- Fecha o "navbar navbar-default navbar-fixed-top"-->

		<div class="row">

			<div class="col-md-3" id= "put">
            
{#       			<ul class="abas">#}
{#                    <li><a href="#funcao1">Função 1</a></li>#}
{#                    <li><a href="#funcao2">Função 2</a></li>#}
{#                    <li><a href="#funcao3">Função 3</a></li>#}
{#                </ul>#}
                
                <div id="separa"></div>
                <div id="funcoes"> <!--conteudo -->



                    <div id="funcao1">

                        <div id="divs">

                            <div id="div1" class="form-group">
                                <label class="control-label">Digite a função f(x):</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal1" id="ajuda1">?</button>

                                <div class="controls">
                                    <input class="campoTxt form-control" type="text" id="funcao" name="funcao" placeholder="função" >
{#                                    <span class="help-block">Woohoo!</span>#}
                                </div>
                            </div>

{#                            <div style=" display:none;" class="alert alert-warning alert-dismissible " role="alert" id="alert1">#}
{#                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                    <span aria-hidden="true">&times;#}
{#                                    </span>#}
{#                                </button>#}
{#                                <strong>Atenção!</strong> Digite uma função.#}
{#                            </div>#}

                            <div id="div2" class="form-group">
                                <label class="control-label" id='label'>Digite o Intervalo da função:</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal2" id="ajuda2">?</button>

                                <div class="controls">
                                    <input class="campoTxt form-control"  type="text" id="intervalo" name="intervalo" placeholder="intervalo">
{#                                    <span class="help-block">Woohoo!</span>#}
                                </div>
                            </div>

{#                            <div style=" display:none;" class="alert alert-warning alert-dismissible " role="alert" id="alert2">#}
{#                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                    <span aria-hidden="true">&times;#}
{#                                    </span>#}
{#                                </button>#}
{#                                <strong>Atenção!</strong> Digite o intervalo da função.#}
{#                            </div>#}

{#                            <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert3">#}
{#                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                    <span aria-hidden="true">&times;#}
{#                                    </span>#}
{#                                </button>#}
{#                                <strong>Erro!</strong> Função ou Intervalo inválido.#}
{#                            </div>#}



                            <button class="btn-func btn btn-success" id="botaoEnviarFuncao" data-token="{{csrf_token}}" data-url="{% url 'funcao1' %}"> Enviar</button>

                            <br><br>
                            <div style=" display:none; visibility:hidden;"  id="div20" class="form-group">
                                <label>Delta (Δ):</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal20" id="ajuda20">?</button>

                                <div class="controls">
                                    <input class="campoTxt form-control"  type="text" id="campo20" name="delta">
                                </div>

                                <button class="btn-func btn-info btn" id="botao20" > Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" id="desistir20"> Mostrar resposta </button>
                            </div>







                            <div style=" display:none; visibility:hidden;"  id="div21" class="form-group">
                                <label>Raízes (x',x''):</label>
                                <button type="button" class="btnbtn-infobtn-lg" style=" display:none;" data-toggle="modal" data-target="#myModal21" id="ajuda21">?</button>

                                <div class="'controls">
                                    <input class="campoTxt form-control"  disabled='true' type="text" id="campo21" name="raizes">
                                </div>

                                <button class="btn-func btn-info btn" style=" display:none;" id="botao21" > Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" style=" display:none;" id="desistir21"> Mostrar resposta </button>
                            </div>

                            <div style=" display:none; visibility:hidden;"  id="div22" class="form-group">
                                <label>Coordenada da Concavidade:</label>
                                <button type="button" class="btnbtn-infobtn-lg" style=" display:none;" data-toggle="modal" data-target="#myModal22" id="ajuda22">?</button>

                                <div class="controls">
                                    <input class="campoTxt form-control"  disabled='true' type="text" id="campo22" name="raizes">
                                </div>

                                <button class="btn-func btn-info btn" style=" display:none;" id="botao22" > Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" style=" display:none;" id="desistir22"> Mostrar resposta </button>
                            </div>

                            <div style=" display:none; visibility:hidden;" id="div3" class="form-group">
                                <label class="control-label"  >Ponto de intersecção da curva com o eixo X :</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal3" id="ajuda3">?</button>

                                <div class="'controls">
                                    <input class="campoTxt form-control" type="text" id="campo3" name="itr_X" disabled="true">
{#                                    <span class="help-block">Woohoo!</span>#}
                                </div>

                                <button class="btn-func btn-info btn" id="botao1"> Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" id="desistir1"> Mostrar resposta </button>
                            </div>

                            <div style=" display:none; visibility:hidden;" id="div4" class="form-group">
                                <label>Ponto de intersecção da curva com o eixo Y:</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal4" id="ajuda4">?</button>

                                <div class="'controls">
                                    <input class="campoTxt form-control" type="text" id="campo4" name="itr_Y" disabled="true">
{#                                    <span class="help-block">Woohoo!</span>#}
                                </div>

                                 <button class="btn-func btn-info btn" id="botao2"> Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" id="desistir2"> Mostrar resposta </button>
                            </div>

                            <div style=" display:none; visibility:hidden;" id="div5" class="form-group">
                                <label>Pontos Críticos:</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal5" id="ajuda5">?</button>

                                <div class="'controls">
                                    <input class="campoTxt form-control"  type="text" id="campo5" name="pontos_criticos" disabled="true">
{#                                    <span class="help-block">Woohoo!</span>#}
                                </div>

                                 <button class="btn-func btn-info btn" id="botao3"> Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" id="desistir3"> Mostrar resposta </button>
                            </div>

                            <div style=" display:none; visibility:hidden;" id="div6" class="form-group">
                                <label>Máximo da Função:</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal6" id="ajuda6">?</button>

                                <div class="'controls">
                                    <input class="campoTxt form-control"  type="text" id="campo6" name="maximo" disabled="true">
                                </div>

                                 <button class="btn-func btn-info btn" id="botao4"> Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" id="desistir4"> Mostrar resposta </button>
                            </div>

                            <div style=" display:none; visibility:hidden;" id="div7" class="form-group">
                                <label>Mínimo da Função:</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal7" id="ajuda7">?</button>

                                <div class="'controls">
                                    <input class="campoTxt form-control"  type="text" id="campo7" name="minimo" disabled="true">
                                </div>

                                 <button class="btn-func btn-info btn" id="botao5"> Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" id="desistir5"> Mostrar resposta </button>
                            </div>

                            <div style=" display:none; visibility:hidden;" id="div8" class="form-group">
                                <label>Pontos de Inflexão:</label>
                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal8" id="ajuda8">?</button>

                                <div class="'controls">
                                    <input class="campoTxt form-control"  type="text" id="campo8" name="pontos_de_inflexao" disabled="true">
                                </div>

                                 <button class="btn-func btn-info btn" id="botao6"> Enviar </button>
                                <button class="btn-des btn btn-warning btn-xs" id="desistir6"> Mostrar resposta </button>
                            </div>



{#                          <div style=" display:none; visibility:hidden;" id="div9" class="form-group">#}
{#                                <label>Assíntota Horizontal:</label>#}
{#                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal9" id="ajuda9">?</button>#}
{##}
{#                                <div class="'controls">#}
{#                                    <input class="campoTxt form-control"  type="text" id="campo9" name="aH" disabled="true">#}
{#                                </div>#}
{##}
{#                                 <button class="btn-func btn-info btn" id="botao7"> Enviar </button>#}
{#                                <button class="btn-des btn btn-warning btn-xs" id="desistir7"> Mostrar resposta </button>#}
{#                            </div>#}
{##}
{#                            <div style=" display:none; visibility:hidden;" id="div10" class="form-group">#}
{#                                <label>Assíntota Vertical:</label>#}
{#                                <button type="button" class="btnbtn-infobtn-lg" data-toggle="modal" data-target="#myModal10" id="ajuda10">?</button>#}
{##}
{#                                <div class="'controls">#}
{#                                    <input class="campoTxt form-control"  type="text" id="campo10" name="aV" disabled="true">#}
{#                                </div>#}
{##}
{#                                 <button class="btn-func btn-info btn" id="botao8"> Enviar </button>#}
{#                                <button class="btn-des btn btn-warning btn-xs" id="desistir8"> Mostrar resposta </button>#}
{#                            </div>#}
                        </div>


              		</div><!-- Fecha função1 -->
                    


                    
                </div> <!-- fecha a div funcoes-->
                
                <div class="container">
                      <div class="modal fade" id="myModal1" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Digitar Função</h4>
                            </div>
                            <div class="modal-body">
                              <p>Uma função pode ser expressa da seguinte maneira:</p>
                              f(x) = dsgfg
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Domínio da Função</h4>
                            </div>
                            <div class="modal-body">
                              <p>O Domínio de uma função é o conjunto dos números 
                              que a função não pode assumir, pois se a função assumir,
                              sua condição de existência poderá ser afetada.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Ponto de intersecção da curva com o eixo X </h4>
                            </div>
                            <div class="modal-body">
                              <p>digitar algo</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Ponto de intersecção da curva com o eixo Y </h4>
                            </div>
                            <div class="modal-body">
                              <p>digitar algo</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal5" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Pontos críticos </h4>
                            </div>
                            <div class="modal-body">
                              <p>digitar algo</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal6" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Máximo da função</h4>
                            </div>
                            <div class="modal-body">
                              <p>digitar algo</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal7" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Mínimo da função</h4>
                            </div>
                            <div class="modal-body">
                              <p>digitar algo</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal8" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Pontos de inflexão</h4>
                            </div>
                            <div class="modal-body">
                              <p>digitar algo</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="container">
                      <div class="modal fade" id="myModal9" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Determine a concavidade</h4>
                            </div>
                            <div class="modal-body">
                              <p>digitar algo</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container">
                      <div class="modal fade" id="myModal20" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Fórmula de Bhaskara</h4>
                            </div>
                            <div class="modal-body">
                              <p>Seja a função f(x) = ax² + bx + c</p>
                              <p>Basca substibuir os valores de a,b e c na fórmula de Bhaskara:</p>
                              <p>Δ = b²-4*a*c </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container">
                      <div class="modal fade" id="myModal21" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Calcular X' e X''</h4>
                            </div>
                            <div class="modal-body">
                              <p>Seja a função f(x) = ax² + bx + c</p>
                              <p>Para calcular x', basta substituir os valores de a, b e delta na seguinte equação:</p>
                              <p>x = (-b + square(Δ))/2*a</p><br>
                              <p>Para calcular x'', basta substituir os valores de a, b e delta na seguinte equação</p>
                              <p>x = (-b - square(Δ))/2*a</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container">
                      <div class="modal fade" id="myModal22" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajuda Coordenada do Vértice da Parábola</h4>
                            </div>
                            <div class="modal-body">
                              <p>Seja a função f(x) = ax² + bx + c</p>
                              <p>Para calcular a Coordena do vértices basta substituir os valores de a, b e delta:</p>
                              <p>Coordenada = (-b /2*a , -Δ/4*a)</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

            </div> <!-- fecha a div col-md-3-->
			
            
            <canvas class="col-md-9 dashboard-panel-6 pull-right" id = "resultado">
            
             </canvas>  	<!-- fecha a div col-md-9-->					
				
		</div>	<!-- fecha row-->
	
		<br><br><br>
		 <div class="panel-footer">Rodapé
			Copyright 2015 - by Math@Cpt
			Facebook | Twitter
		</div> 
        
	</div> <!--Fecha o "container-fluid"-->


{#    <div  class="alert alert-warning alert-dismissible " role="alert" id="alert8">#}
{#        <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#            <span aria-hidden="true">&times;#}
{#            </span>#}
{#        </button>#}
{#        <strong>Atenção!</strong> Digite uma função.#}
{#    </div>#}
    <div style=" display:none;" class="alert alert-warning alert-dismissible " role="alert" id="alert1">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Atenção!</strong> O campo da função está vazio.
    </div>

    <div style=" display:none;" class="alert alert-warning alert-dismissible " role="alert" id="alert2">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Atenção!</strong> O campo do intervalo está vazio.
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert3">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro!</strong> Ponto de Intersecção da curva com o eixo X está errado.
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert4">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro!</strong> Ponto de Intersecção da curva com o eixo Y está errado.
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert5">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro!</strong> O campo de Pontos Críticos está errado.
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert6">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro!</strong> O campo de Máximo da Função está errado.
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert7">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro!</strong> O campo de Mínimo da Função está errado.
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert8">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro!</strong> O campo de Pontos de Inflexão está errado.
    </div>

    <div style=" display:none;" class="alert alert-danger" role="alert" id="alert9">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erro no Intervalo!</strong> Digite um intervalo válido.
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert20">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Atenção!</strong> Valor do delta está errado!
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert21">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Atenção!</strong> Valor de x' e/ou x'' está errado!
    </div>

    <div style=" display:none;" class="alert alert-danger alert-dismissible " role="alert" id="alert22">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Atenção!</strong> Valor do Vértica está errado!
    </div>
</body>
</html>

